/* src/components/ChatList.css */

.chat-list {
    padding: 10px;
    background-color: #ecedec;
    height: calc(100vh - 120px); /* 调整聊天列表高度 */
    overflow-y: auto; /* 添加滚动 */
}

.message-wrapper {
    display: flex;
    width: 100%;
}

.own {
    justify-content: flex-end; /* 发送的消息向右对齐 */
}

.received {
    justify-content: flex-start; /* 接收的消息向左对齐 */
}

.message {
    max-width: 60%;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 4px;
    word-wrap: break-word;
}

.sent-message {
    background-color: #9fec8d; /* 发送消息的绿色背景 */
}

.received-message {
    background-color: #ffffff; /* 接收消息的白色背景 */
}

.image-thumbnail {
    width: auto; /* 图片宽度应根据实际内容调整 */
    max-width: 200px; /* 最大宽度限制 */
    height: auto; /* 高度自动 */
    max-height: 200px; /* 最大宽度限制 */
    border-radius: 5px;
    cursor: pointer;
    border: 0.1px solid #bcbcbc; /* 黑色边框 */
    object-fit: cover; /* 确保图片覆盖整个元素区域，不失真 */
}

.image-preview {
    /* 图片预览样式 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
}

.image-large {
    /* 大图样式 */
    max-width: 90%;
    max-height: 80%;
    border-radius: 4px;
}

.custom-context-menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 0;
}

.custom-context-menu li {
    padding: 8px 15px;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
}

.custom-context-menu li:hover {
    background-color: #f6f6f6;
}







/* 头像 css */


.message-wrapper {
    display: flex;
    align-items: flex-start; /* 使头像和消息顶部对齐 */
    margin-bottom: 10px;
    flex-direction: row;
}

.avatar {
    width: 40px; /* 头像的宽度 */
    height: 40px; /* 头像的高度 */
    border-radius: 10%; /* 圆形头像 */
    margin-right: 5px; /* 头像和消息之间的间距 */
    margin-left: 5px; /* 头像和消息之间的间距 */
    object-fit: cover; /* 确保图片覆盖整个元素区域，不失真 */
}


.image-message {
    padding: 0; /* 图片消息没有内边距 */
    background: none; /* 图片消息没有背景色 */
}




.timestamp-container .user-name{
    text-align: center;
    /* Other styling as needed */
}

/* Optional: If you want to center the container itself in the middle of the page */
.timestamp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
